<section class="section">
  <div class="section__container">
    <h1 class="section__title section__title-green">Exp,________</h1>
    <div class="section__discription">
      <h2>💾 Tech</h2>
      <p class="p-line">----</p>
      <ul>
        This website ~
        <li>HTML</li>
        <li>CSS</li>
        <li>Graphic design/Photoshop</li>
      </ul>
      <ul>
        Wake Tech Simulation and Game Design ~
        <li>Game Design Theory</li>
        <li>Learned to not go so big you can't ship</li>
      </ul>
      <h2>🚘 Work</h2>
      <p class="p-line">----</p>
      <ul>
        Redrive Automotive ~
        <li>Negotiate to buy cars from shrewd people</li>
        <li>Maintain digital vehicle profiles (Sales)</li>
        <li>
          Decide the monetary viability of car purchases (Is it a good deal?)
        </li>
      </ul>
      <h2>📦 Business</h2>
      <p class="p-line">----</p>
      <ul>
        Jackowski Realty (RE Holdings)
        <li>Bought, managed, and worried about rental property</li>
      </ul>
      <ul>
        The Batholith Group (M&A Startup)
        <li>Recruited a board of advisors</li>
        <li>Cold called and sold to business owners</li>
        <li>Had dreams crushed and rebirthed on a semi-regular basis</li>
      </ul>
      <ul>
        Wake Tech Comm. College
        <li>1 semester of business admin classes</li>
      </ul>
    </div>
  </div>
  <p class="section__emoji">💼</p>
</section>
