<section class="section">
    <div class="section__container">
      <h1 class="section__title section__title-purple">Hobbies,______</h1>
      <div class="section__discription">
        <ul>
          <li>⬇️ Mountain Biking<br>
            New-ish so I’m not that good</li>
          <li>⬇️ Running <br>
            Max Run - 5mi...8km</li>
          <li>⬇️ Jiu Jitsu<br>
            3 years...Blue belt</li>
        </ul>
      </div>
      <p class="section__emoji">&#129506</p>
    </div>
  </section>
