<section class="section">
  <div class="section__container">
    <h1 class="section__title section__title-yellow">Failures,______</h1>
    <div class="section__discription">
      <p>
        🤢 Eating a gas station ham 
        sandwich then riding in a 
        shaky car with broken 
        suspention which ended with 
        me in the hospital with 
        Colitis.
        <br><br>
        💣 Bad negotiations on a piece
        of commercial real estate
        which crashed and left me 
        with multiple thousands in
        legal fees due.
        <br><br>
        ⛺ Commercial real estate deal
        crashing due to untimely
        lawsuit between a ex-tennant
        and the owner.
        <br><br>
        🚩 Countless times investors
        have backed out of a deal
        I was raising money for.
        <br><br>
        💿 Almost getting scammed on
        Flippa for a website 
        purchase.
        <br><br>
        💥 Smashing into the back of a 
        Honda Odyssey while
        listening to Joe Rogan and 
        Steven Pinker.
        <br><br>
        🪙 Being fully aware of and not buying Bitcoin in 2012.
        <br><br>
        🦐 Etc........ Unfortunately...
      </p>
  </div>
  <p class="section__emoji">😅</p>
</section>
