<section class="section">
  <div class="section__container">
    <h1 class="section__title section__title-blue">Talk to me,___</h1>
    <div class="section__discription">
      <h2>📧 Email</h2>
      <p class="p-line">----</p>
      <p>Jackowskireal@gmail.com</p>
      <h2>☎️ Cell</h2>
      <p class="p-line">----</p>
      <p>919 559 1721</p>
      <h2>📣 LinkedIn</h2>
      <p class="p-line">----</p>
      <p>https://www.linkedin.com/in /ethan-jackowski-227132164/</p>
    </div>
  </div>
  <p class="section__emoji">💬</p>
</section>
